
@{
    ViewBag.Title = "Index";
    if (!Request.IsAjaxRequest())
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
}

<div class="col-md-12 column">
    <div class="tabbable" id="tabs-624205">
        <ul class="nav nav-tabs">
            <li class="active">
                <a data-url="@Url.Action("Who", "About")" href="#" class="ajax-tab" data-toggle="tab">Who</a>
            </li>
            <li>
                <a data-url="@Url.Action("What", "About")" href="#" class="ajax-tab" data-toggle="tab">What</a>
            </li>
            <li>
                <a data-url="@Url.Action("Why", "About")" href="#" class="ajax-tab" data-toggle="tab">Why</a>
            </li>
            <li>
                <a data-url="@Url.Action("How", "About")" href="#" class="ajax-tab" data-toggle="tab">How</a>
            </li>
            <li>
                <a data-url="@Url.Action("Where", "About")" href="#" class="ajax-tab" data-toggle="tab">Where</a>
            </li>
        </ul>
        <div class="tab-content">
            
        </div>
    </div>
</div>

